<div id="signin">
  <%= form_for User.new, url: session_path, html: { class: "form-signin" } do |f| %>
    <div class="modal-body">
      <%= f.label :name, "Username: " %><br>
      <%= f.text_field :name, id: "signin_name" %><br>
      <%= f.label :password, "Password: " %><br>
      <%= f.password_field :password, id: "signin_password" %>
    </div>
      <div class="modal-footer">
        <button id="signinSubmit" type="button small" class="btn btn-secondary" type="submit">Sign In</button>
      </div>
  <% end %>
</div>

