<%= image_tag("nazgul.jpg", id: "background") %>

<br><br>
<div class="subforumLayer">
</div>

<h1 class="subforumTitle">
  <%= @subforum.title %>
</h1>

<div class="topicIndex">
  <% if @subforum %>
    <% @subforum.topics.all.each do |topic| %>
    <div class="panel panel-info topic" id="topic">
      <div class="panel-body">
        <div class="topicTitle">
          <%= link_to topic.title, subforum_topic_path(@subforum, topic) %>
        </div>
        <div class="replies">
          <b>Replies:</b>
          <%= topic.replies.count %>
        </div>
        <div class="username">
          <b>Creator:</b>
          <%= topic.user ? topic.user.name : "Ghost" %>
        </div><br>
        <div class="created_at" style="float:left">
          <b>Created At:</b>
          <%= topic.created_at %>
        </div>
        <div class="last_post">
          <b>Last Post:</b>
          <%= topic.replies.last.updated_at unless !topic.replies.first %>
        </div>
      </div>
    </div>
    <% end %>
  <% else %>
    </h1>There are currently no topics</h1>
  <% end %>
</div>