<%= link_to "Add a topic", new_subforum_topic_path(@subforum) %>

<% if @subforum %>
  <% @subforum.topics.all.each do |topic| %>
  <div id="topic_<%= topic.id %>">
    <div class="panel panel-info" id="topic_<%= topic.id %>">
      <div class="panel-title">
        <%= link_to topic.title, subforum_topic_path(@subforum, topic) %>
      </div>
      <div class="panel-footer">
        <%= topic.user.name %>
      </div>
    </div>
  </div>
  <% end %>
<% else %>
  </h1>There are currently no topics</h1>
<% end %>