<a class="btn btn-secondary" role="button" id="newTopicButton" href="#">Add a topic</a>
<div id="topic_create">
  <%= form_for [@subforum, Topic.new] do |f| %>
    <%= f.label :title, "Title: " %>
    <%= f.text_field :title, id: "topic_title" %>
    <%= f.label :body, "Body: " %>
    <%= f.text_area :body, id: "topic_description" %>
    <button class="btn btn-secondary" id="newTopic" name="commit" type="submit">Submit</button>
  <% end %>
</div>

<div class="topicIndex">
  <% if @subforum %>
    <% @subforum.topics.all.each do |topic| %>
    <div class="panel panel-info topic" id="topic">
      <div class="panel-title">
        <%= link_to topic.title, subforum_topic_path(@subforum, topic) %>
      </div>
      <div class="panel-body">
        <%= topic.user.name %>
      </div>
    </div>
    <% end %>
  <% else %>
    </h1>There are currently no topics</h1>
  <% end %>
</div>