<div id="topic_create">
  <%= form_for [@subforum, @topic] do |f| %>
    <%= f.label :title, "Title: " %>
    <%= f.text_field :title, id: "topic_title" %>
    <%= f.label :body, "Body: " %>
    <%= f.text_area :body, id: "topic_description" %>
    <button class="small button" name="commit" type="submit">Create</button>
  <% end %>
</div>