<div id="topic_create">
  <%= form_for [@subforum, @topic] do |f| %>
    <%= f.label :title, "Title: " %>
    <%= f.text_field :title, id: "topic_title" %>
    <%= f.label :body, "Body: " %>
    <%= f.text_area :body, id: "topic_description" %>
    <ul class="button-group">
      <li>
        <button class="small button" name="commit" type="submit">Submit</button>
      </li>
    </ul>
  <% end %>
</div>