<br><br><br>

<h1 class="title">
  <%= @topic.title %>
</h1>

<div class="topicIndex">
  <% if @topic %>
    <div class="panel panel-info topic" id="topic">
      <div class="panel-body">
        <div>
          <%= @topic.body %>
        </div>
        <div class="replies">
          <b>Replies:</b>
          <%= @topic.replies.count %>
        </div>
        <div class="created_at">
          <b>Created At:</b>
          <%= @topic.created_at %>
        </div>
        <div class="last_post">
          <b>Last Post:</b>
          <%= @topic.replies.last.updated_at unless !@topic.replies.first %>
        </div>
      </div>
    </div>
  <% else %>
    </h1>There are currently no topics</h1>
  <% end %>
</div>

<div class="replyIndex">
  <% if @topic %>
    <% @topic.replies.all.each do |reply| %>
    <div class="panel panel-info topic" id="topic">
      <div class="panel-body">
        <div>
          <%= reply.body %>
        </div>
        <div class="username">
          <%= link_to reply.user.name, user_path(reply.user) unless !reply.user %>
        </div>
        <div class="created_at">
          <%= reply.created_at %>
        </div>
        <% if reply.user = current_user %>
          <div class="user_options">
            <%= link_to "Delete", subforum_topic_reply_path(@subforum, @topic, reply), :method => :delete, :class => "btn btn-xs btn-warning" %>
          </div>
        <% end %>
      </div>
    </div>
    <% end %>
  <% else %>
    </h1>There are currently no replies</h1>
  <% end %>
</div>
