<div id="subforum_create">
  <%= form_for Subforum.new do |f| %>
    <div class="modal-body">
      <%= f.label :title, "Title: " %><br>
      <%= f.text_field :title, id: "subforum_title" %><br>
      <%= f.label :description, "Description: " %><br>
      <%= f.text_area :description, id: "subforum_description" %>
    </div>
    <div class="modal-footer">
      <button type="button small" name="commit" id="subforumSubmit" class="btn btn-secondary" type="submit">Submit</button>
    </div>
  <% end %>
</div>