<nav class="navbar navbar-inverse navbar-fixed-top" id="pagenav">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
      <% if !current_user %>
      <li>
        <button id="signinButton" type="button small" class="btn btn-info navbar-btn" data-toggle="modal" data-target="#signinModal">Sign In</button>
      </li>
      <li>
        <button id="signupButton" type="button small" class="btn btn-info navbar-btn" data-toggle="modal" data-target="#signupModal">Sign Up</button>
      </li>
    </ul>
      <% else %>
      <li class="active">
        <% if @subforum && !@topic %>
          <%= link_to "Add a new topic", new_subforum_topic_path(@subforum) %>
        <% end %>
      </li>
      <li class="active">
        <% if @subforum && @topic %>
          <%= link_to "Reply", new_subforum_topic_reply_path(@subforum, @topic) %>
        <% end %>
      </li>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-danger">Submit</button>
      </form>
      <li class="active">
        <%= link_to current_user.name, user_path(current_user) %>
      </li>
      <li>
        <a href="<%= signout_path %>">Sign Out</a>
      </li>
    </ul>
      <ul class="nav navbar-nav navbar-left">
        <li>
          <a href="<%= subforums_path %>">wB</a>
        </li>
      <% end %>
    </ul>
  </div>
</nav>

<% if !current_user %>
  <div id="signinModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Sign In</h4>
        </div>
        <div class="modal-body">
          <%= render "sessions/signin" %>
        </div>
      </div>
    </div>
  </div>

  <div id="signupModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Sign Up</h4>
        </div>
        <div class="modal-body">
          <%= render "users/signup" %>
        </div>
      </div>
    </div>
  </div>

<% end %>